<div class="animated fadeIn">
  <div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Add Category
          <div class="card-header-actions">
            <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
          </div>
        </div>
        <div (collapsed)="collapsed($event)"
             (expanded)="expanded($event)"
             [collapse]="isCollapsed"
             class="card-body">
          <form class="form-horizontal" [formGroup]="categoryForm" (ngSubmit)="addCategory()" >
          <div class="form-group">
            <label class="col-form-label" for="prependedInput">Category</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-puzzle"></i></span>
                </div>
                <input placeholder="Name" formControlName="name" class="form-control" size="16" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
              <label class="col-form-label" for="prependedInput">Category Image</label>
              <div class="controls">
                <div class="input-prepend input-group">
                        <input type="file" formControlName="image" #file accept='image/*' (change)="preview(file.files)" >
                  </div>
                  <img [src]="imgURL" height="200" *ngIf="imgURL">
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Add</button>
            <button class="btn btn-secondary" type="button">Cancel</button>
          </div>
        </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
</div>
